<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" explicit="true" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <system.net>
    <mailSettings>
      <smtp from="tuf77728@cis-linux2.temple.edu">
        <network host="cis-linux2.temple.edu" port="25" userName="tuf77728" password="1234TwoesTwoes"/>
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
